/* global styles */ 
body {
    background-color: rgb(197, 204, 204);
    color: black;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    
}
/* navigation bar static styles */
nav {
    position: sticky;  
    top: 0;            
    z-index: 1000;     
    padding-top: 10px; 
}
/* menu navegacion  */
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #55a793;
    padding: 10px;
    border-radius: 10px;
    max-width: 950px;
    margin: 0 auto;
}
nav li {
    margin: 0 10px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #c14f12;
}
/*  style of Name, and picture */
h1 {
    text-align: center;
    margin-top: 20px;
}
img {
    display: block;
    height: auto;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;    
    border: 5px solid #2c3e50;
}
/* Spacing & Alignmen --- padding-margin*/
section {
    background-color: white;
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2 {
    color: rgb(38, 40, 43);
    border-bottom: none;
}
/* Experience section styles */
#Experience ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
#Experience li { 
    background-color: #e8f8f5; 
    border-left: 5px solid #1abc9c; 
    margin-bottom: 10px;     
    padding: 15px;           
    border-radius: 0 5px 5px 0; 
}
/* Styles for the Skills list generated by JS */
#Skills ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
    list-style-type: none;
    gap: 15px; 
}

#Skills li {
    background-color: #d2f7f1;  
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(53, 76, 92, 0.2);
}
/* social media settings */
#Connect a {
    color: #121312;          
    font-size: 1.9rem;      
    text-decoration: none;
    font-weight: bold;
}
/*positioning social media logos*/
#Connect ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    margin-top: 20px;

}
#Connect a:hover {
    text-decoration: underline;
    color: #c14f12;             
}
/* icon styles */
.fa-brands {
    margin-right: 8px; 
    font-size: 2rem; 
}
.fa-github-alt {
     color: #050505; 
}
.fa-linkedin { 
    color: #070707; 
}
/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #555;
}
/* Responsive Design */

/* TABLET (Max: 768px) */
@media screen and (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        padding: 5px;
    }

    h1 {
        font-size: 1.8rem;
        color: #000000;
    }

    section {
        padding: 15px;
        width: 90%;
    }
    
    #Skills ul {
        gap: 10px;
    }

    #Skills li {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
    #Connect ul {
        gap: 15px;
    }

}

/* MOBILE (Max: 480px) */
@media screen and (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    img {
        max-width: 50%;
        border: 5px solid black;
    }
    
    #Experience li {
        width: auto; 
    }
    #Skills ul {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    #Skills li {
        width: 100%;
        text-align: center;
    }
     #Connect ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    #Connect a {
        font-size: 1.5rem;
    }
}

